@import url("https://fonts.googleapis.com/css?family=Poppins:400");

:root {
  --color-red: #e63946;
  --color-blue-300: #f1faee;
  --color-blue-500: #a8dadc;
  --color-blue-700: #457b9d;
  --color-blue-900: #1d3557;
  --color-white: #fff;
  --color-light-gray: #cecece;
  --color-gray: #707070;
  --color-black: #000;

  --color-background: var(--color-white);
  --color-text: var(--color-black);
}

/* 1.250 - Major Third from type-scale.com */
html {
  font-size: 100%;
} /*16px*/

body {
  background: white;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #000000;
}

p {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 3rem 0 1.38rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1,
.text-4xl {
  margin-top: 0;
  font-size: 3.052rem;
}

h2,
.text-3xl {
  font-size: 2.441rem;
}

h3,
.text-2xl {
  font-size: 1.953rem;
}

h4,
.text-xl {
  font-size: 1.563rem;
}

h5,
.text-lg {
  font-size: 1.25rem;
}

small,
.text-sm {
  font-size: 0.8rem;
}

/* Reduce font for very small phones, ex: iPhone 5 */
body {
  font-size: 14px;
}

a {
  color: inherit;
}

svg {
  stroke: currentColor;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.btn {
  background: transparent;
  border: solid 2px transparent;
  border-radius: 0.25em;
  padding: 0.5em;
}

.btn.btn--lg {
  font-size: 1.25rem;
  padding: 0.75em 1.25em;
}

.btn.btn--primary {
  background: var(--color-blue-700);
  color: var(--color-blue-300);
}

.btn.btn--hollow {
  border-color: var(--color-blue-700);
}

.btn.btn--icon-sm {
  padding: 0.75em;
}

.btn.btn--icon svg {
  height: 2em;
}

.btn.btn--icon-sm svg {
  height: 1.5em;
}

@media (min-width: 375px) {
  body {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (min-width: 1024px) {
  body {
    font-size: 18px;
  }
}
